body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: white;
}
h1, h2, h3 {
    font-weight: 700;
}
.content {
    max-width: 1440px;
    margin: 0 auto;
}
* {
  -webkit-tap-highlight-color: transparent;
}
.hiden {
    display: none !important;
}

@media (max-width: 370px) {
    * {
        font-size: 14px !important;
    }
    button {
        padding: 5px !important;
    }
    .modal__amount {
        margin-bottom: 5px !important;
        button {
            padding: 4px 10px !important;
        }
    }
    .modal {
        padding: 10px !important;
    }
    .header__link img {
        width: 20px !important;
        height: 20px !important;
    }
    .header {
        padding: 10px !important;
    }
}