@mixin btn($color, $bg-color, $padding-tb, $padding-lr) {
    display: block;
    color: $color;
    background-color: $bg-color;
    padding: $padding-tb $padding-lr;
    border-radius: 4px;
    height: min-content;
    font-size: 16px;
    text-wrap: none;
}